*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: slategrey;
    width: 50vw;
    margin: 100px auto;
    padding: 50px;
}
.img1{
    width: 80px;
    height: 80px;
}
.img1:hover{
    width: 100px;
}
#heading{
    color: red;
}
.background{
    background-color: green;
    padding: 20px;
}
h2{
    color: red;
}
footer{
    background-color: rgb(22, 22, 24);
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: center;
}
.social-container{
    display: flex;
    gap: 20px;
}

.social-container a{
    background-color: white;
    padding: 5px 3px 3px 3px;
    color: black;
    font-size: 24px;
    border-radius: 50%;
}
ul{
    display: flex;
    gap: 40px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
.footer-p{
    text-align: center;
    color: rgb(155, 152, 152);
    padding: 10px;
    background-color: black;
}